/* Header */
.header {
  background-color: #ee2255;
}

body{
  font-family: "Montserrat";
}

#footer{
  text-align: center;
}

#title {
  background-color: #ee2255;
  color: white;
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Montserrat';
  font-size: 3.5rem;
  font-weight: bolder;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 3.5rem;
}

.nav-item {
  padding: 0 18px;
}

.dwn-btn {
  margin: 3% 5% 0;
}

.img-header {
  width: 60%;
  transform: rotate(25deg);
}

/* Intro */
.col-lg-4 {
  text-align: center;
}

.fas {
  color: #ef8172;
  font-size: 3rem;
}

.fas:hover {
  color: #ee2255;
  font-size: 3rem;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  color: #6f6f6f;
}

#features {
  margin-top: 1rem;
}

.testimonial-image {
  align-content: center;
  width: 10%;
  border-radius: 100%;
}
#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.carousel-item{
    padding: 7% 15%;
}
h2{
  font-family: "Montserrat";
  font-style: oblique;
  font-size: 3rem;
  line-height: 1.5;
}
#press{
  text-align: center;
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}
